# Exercise 3: Parallel ETL

In [1]:
%load_ext sql

In [2]:
import boto3
import configparser
import matplotlib.pyplot as plt
import pandas as pd
from time import time

# STEP 1: Get the params of the created redshift cluster 
- We need:
    - The redshift cluster <font color='red'>endpoint</font>
    - The <font color='red'>IAM role ARN</font> that give access to Redshift to read from S3

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [10]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::023436727266:role/dwhRole"

# STEP 2: Connect to the Redshift Cluster

In [11]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [12]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-labs")

In [13]:
for obj in sampleDbBucket.objects.filter(Prefix="tickets"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/full/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/full/full.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00000-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00001-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00002-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00003-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00004-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00005-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00006-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00007-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00008-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')
s3.ObjectSummary(bucket_name='udacity-labs', key='tickets/split/part-00009-d33afb94-b8af-407d-abd5-59c0ee8f5ee8-c000.csv.gz')

# STEP 3: Create Tables

In [14]:
%%sql 
DROP TABLE IF EXISTS "sporting_event_ticket";
CREATE TABLE "sporting_event_ticket" (
    "id" double precision DEFAULT nextval('sporting_event_ticket_seq') NOT NULL,
    "sporting_event_id" double precision NOT NULL,
    "sport_location_id" double precision NOT NULL,
    "seat_level" numeric(1,0) NOT NULL,
    "seat_section" character varying(15) NOT NULL,
    "seat_row" character varying(10) NOT NULL,
    "seat" character varying(10) NOT NULL,
    "ticketholder_id" double precision,
    "ticket_price" numeric(8,2) NOT NULL
);

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

# STEP 4: Load Partitioned data into the cluster
Use the COPY command to load data from `s3://udacity-labs/tickets/split/part` using your iam role credentials. Use gzip delimiter `;`.

In [16]:
%%time
qry = """
      copy sporting_event_ticket from 's3://udacity-labs/tickets/split/part'
      credentials 'aws_iam_role={}'
      gzip delimiter ';' compupdate off region 'us-west-2';
      """.format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 5.17 ms, sys: 0 ns, total: 5.17 ms
Wall time: 10.7 s

# STEP 5: Create Tables for the non-partitioned data

In [17]:
%%sql
DROP TABLE IF EXISTS "sporting_event_ticket_full";
CREATE TABLE "sporting_event_ticket_full" (
    "id" double precision DEFAULT nextval('sporting_event_ticket_seq') NOT NULL,
    "sporting_event_id" double precision NOT NULL,
    "sport_location_id" double precision NOT NULL,
    "seat_level" numeric(1,0) NOT NULL,
    "seat_section" character varying(15) NOT NULL,
    "seat_row" character varying(10) NOT NULL,
    "seat" character varying(10) NOT NULL,
    "ticketholder_id" double precision,
    "ticket_price" numeric(8,2) NOT NULL
);

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

# STEP 6: Load non-partitioned data into the cluster
Use the COPY command to load data from `s3://udacity-labs/tickets/full/full.csv.gz` using your iam role credentials. Use gzip delimiter `;`.

- Note how it's slower than loading partitioned data

In [18]:
%%time

qry = """
      copy sporting_event_ticket_full from 's3://udacity-labs/tickets/full/full.csv.gz' 
      credentials 'aws_iam_role={}' 
      gzip delimiter ';' compupdate off region 'us-west-2';
      """.format(DWH_ROLE_ARN)

%sql $qry

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 4.67 ms, sys: 4 ms, total: 8.67 ms
Wall time: 50.3 s

In [19]:
%%sql
SELECT * FROM sporting_event_ticket
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(17947051.0, 3481.0, 1.0, Decimal('2'), '36', 'C', '1', None, Decimal('86.52')),
 (20364251.0, 3491.0, 1.0, Decimal('2'), '14', 'B', '1', None, Decimal('72.12')),
 (19288451.0, 3481.0, 1.0, Decimal('2'), '62', 'A', '4', None, Decimal('129.78')),
 (39849801.0, 3531.0, 1.0, Decimal('2'), '31', 'A', '3', None, Decimal('72.76')),
 (2775941.0, 9491.0, 40.0, Decimal('2'), '42', 'B', '4', None, Decimal('142.89'))]

In [20]:
%%sql 
SELECT * FROM sporting_event_ticket_full
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cofbrkpfcj2d.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(45872021.0, 3541.0, 1.0, Decimal('3'), '14', 'B', '1', None, Decimal('31.75')),
 (45872101.0, 3541.0, 1.0, Decimal('3'), '13', 'A', '2', None, Decimal('31.75')),
 (45872181.0, 3541.0, 1.0, Decimal('3'), '11', 'B', '3', None, Decimal('31.75')),
 (45872261.0, 3541.0, 1.0, Decimal('3'), '10', 'B', '1', None, Decimal('31.75')),
 (45872341.0, 3541.0, 1.0, Decimal('3'), '9', 'A', '2', None, Decimal('31.75'))]